CDK_Content: |-
  #!/bin/sh

  cdk deploy
CDK_Repo:
  key: ballot
  title: taher27/ballot
  owner: taher27
  default_branch: main
  id: 496876533
CDK_Branch: main
CDK_Git_path: ballot/test
CDK_Uninstall: |-
  #!/bin/sh

  cdk destroy
app_dependencies:
  type: text
  content: |-
    #!/bin/sh

    # make all
    # docker build
app_deploy:
  type: ArgoCD
  content: ballot/ballot.yaml
app_test: []
app_uninstall:
  type: text
  content: |+
    #!/bin/sh

lastUpdatedBy: Taher Mandapwala
lastUpdatedOn: 2022-10-04T07:39:28.111Z
